body {
    background-image: url(../img/new_year.gif);
}

.text_new_year {
    background-color: transparent;
    font {
        font-family: "Marck Script", "Odoo Unicode Support Noto", sans-serif;
    }
}