
// Отключаем шапку
body.o_connected_user {
    padding-top: 0 !important;
}
.o_main_navbar {
    display: none !important;
}



main {
    max-width: 100% !important;
    max-height: 100% !important;
    padding: 5px !important;
    margin: 0 !important;
    background:#2f2f2f !important;
    color: #FFFFFF !important;

}

.wrap {
    background:#2f2f2f !important;
}

.container {
    max-width: 100% !important;
    max-height: 100% !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: column;
    height: 100vh;

}


.voting_head{
    width: 100%;
    min-height: 50px;
    text-align: center;
    
}

.voting_footer{
    width: 100%;
    min-height: 50px;
    text-align: center;
}

.voting_content {
    flex-grow: 3
}


.o_voting_file_text {
    text-align: center;
    font-style: italic;
}

// @media screen and  (min-height: 600px), (max-width: 768px) {
//     o_voting_description {
//       max-height: 350px;
//     }
//   }
  
//   @media (min-height: 768px) {
//     o_voting_description {
//       max-height: 500px;
//     }
//   }
  
//   @media (min-height: 900px) {
//     o_voting_description {
//       max-height: 600px;
//     }
//   }
  
//   @media (min-height: 1200px) {
//     o_voting_description {
//       max-height: 800px;
//     }
//   }
//   @media (min-height: 1600px) {
//     o_voting_description {
//       max-height: 1200px;
//     }
//   }
//   @media (min-height: 1600px) {
//     o_voting_description {
//       max-height: 1200px;
//     }
//   }

.o_voting_description {
    font-style: italic;
    overflow-y: auto;
    // height: 500px;
    min-height: min-content;
    display: flex;
    flex: 1;
    br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 24%;
    }
}

.o_voting_description_blok {
    height: 70%;
    position: absolute;
    overflow: auto;
}


.tto_voting_main {

    position: absolute;
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index: 1031;
    background:#404040;
    flex-direction: column !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .o_votes_head {
        height: 50px;
        color: #FFFFFF !important;
        flex-shrink: 0 !important;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: flex !important;
        box-sizing: border-box;
    }


    a {
        color: #FFFFFF !important;
    }
}

.o_voting_content {
    position: relative;
    display: flex;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    align-items: center;
    justify-content: center;
}


.o_voting_image {

    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 100%;

}

.o_voting_exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    // padding: 16px;
    // margin-top: -50px;
    color: white;
    // font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

}
.o_voting_exit:hover {
  color: rgb(199, 199, 199);
}

.o_voting_prev,
.o_voting_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.o_voting_next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.o_voting_prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .o_voting_prev:hover,
  .o_voting_next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


.voting_button {
    margin-top: -60px;
}
.o_voting_button {
    cursor: pointer;
    font-size: 25px;
    background-color: #28a745;
    padding: 10px;
    // display: block;
}
.o_voting_button:hover {
    background-color: #22923d;
}
.voting_button_finish {
    // font-size: 25px;
    // padding: 10px;
    // margin-top: -60px;
    // background-color: #0D4383;
    // color: #fcff37;
    display: none;

}

.o_voting_button_finish {
    font-size: 25px;
    padding: 10px;
    margin-top: -60px;
    color: gold;
    // background-color: #0D4383;

}


.o_voting_footer {
    position: absolute;
    // top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index: 1031;
    // background:#000;
    flex-direction: column !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    box-sizing: border-box;
    width: 100%;
    // height: 20%;
    color: #FFFFFF;
    text-align: center;
    min-height: 10%;
    vertical-align: middle;
    display: table-cell;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2%;

}

.o_voting_info {

    position: absolute;
    // top:0; 
    left:0; 
    top:0; 
    right:0; 
    z-index: 1031;
    // background:#000;
    flex-direction: row !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    box-sizing: border-box;
    width: 100%;
    // height: 20%;
    color: #FFFFFF;
    text-align: center;
    min-height: 10%;
    vertical-align: middle;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2%;


}


.voting_left_panel {
    background-color: #3e3e3e;
    border: 1px solid #585858 !important;
    // display: -webkit-box !important;
    // display: -webkit-flex !important;
    // display: flex !important;
    // flex-direction: column;
    // height: 100vh;
    

}

.o_voting_autor {
    font-size: 20px;
    text-align: center;
    // width: 150px;
    // height: 100px;
}

// .o_voting_title {
//     flex-grow: 3
// }





.load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
    display: none;


    @keyframes donut-spin {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
    .donut {
        position: absolute;
        display: inline-block;
        top: 48%;
        left: 48%;
        border: 8px solid rgba(0, 0, 0, 0.1);
        border-left-color: #ffffff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: donut-spin 1.2s linear infinite;
    }

}



