// footer {
//     border-top: 5px solid theme-color('primary');
// }

.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 1);
    @extend .text-uppercase;

}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"], #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"], #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic {
    color: #FFFFFF;
    background-color: #a43b40;
    border-color: #a43b40;
}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic.dropdown-toggle {

    color: #FFFFFF;
    background-color: #0D4383;
    border-color: #0D4383;

}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #0D4383;
}
.o_main_navbar .show .dropdown-toggle {
    background-color: #0D4383;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #0D4383;
}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0D4383;
    border-color: #0D4383;
}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"].dropdown-toggle, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled):active, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:not(:disabled):not(.disabled).active, .show > #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0D4383;
    border-color: #0D4383;
}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"]:hover, #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"]:hover, #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic:hover {
    color: #FFFFFF;
    background-color: #0D4383;
    border-color: #0D4383;
}



.o_main_navbar {
    position: relative;
    height: 46px;
    border-bottom: 1px solid #a43b40;
    background-color: #a43b40;
    color: white;
}

header {
    @extend .mt-3;
} 

body {
    background-color: #F8F9FA;
    // background-color: #e8e8e8;
}

.o_wslides_body {
    background-color: #F8F9FA;

}



main {
    @extend .mt-3;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    #wrap {
        background-color: #FFFFFF;

    }

    .navbar {
        background-color: #a43b40 !important;

        form {
            color: #a43b40;
            background-color: #FFFFFF;
            background-clip: padding-box;
            border: 0px solid #a43b40!important;
            // border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        }
        .form-control{
            border: 0px solid #a43b40!important;
        }
        .input-group {
            color: #a43b40 !important;
            border: 0px solid #a43b40 !important;
        }
    
        .input-group-append {
            border: 0px solid #a43b40 !important;
        }
    
        .oe_search_button {
            color: #a43b40 !important;
            border: 0px solid #a43b40 !important;
            // border-left: 1px solid #a43b40;
            
    
        }
    }

   



    
  }
  
  @media (min-width: 576px) {
    main {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    main {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    main {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    main {
      max-width: 1170px;
    }
  }



.text-600 {
    color: #0D4383 !important;
}

.menu {
    a.text-600:hover, a.text-600:focus {
        color: #ffffff !important;
    }


    a:hover, a:focus {
        color: #ffffff !important;
        text-decoration: underline;
        background-color: #0D4383 !important;;
    }
}

.border {
    border-color: 1px solid #dddddd
}

h1, h2, h3,h4,h5, h6 {
    color: #0D4383 !important;
}




// .row {
//     background-color: #ffffff;
// }



.o_blog_post_title {
    a {

        color: #0D4383 !important;
    }

}



// Portal
.o_portal_wrap .o_portal_navbar {
    background-color: #a43b40 !important;
    a:hover {
        color: #ddd !important;
        text-decoration: none;
    }
    a:focus{
        color: #ddd !important;
        text-decoration: none;
        
    }
}
.breadcrumb-item.active {
    color: #FFFFFF;
}
.breadcrumb-item {
    color: #FFFFFF !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0;
    color: #ffffff;
    content: "/";
}

.o_wprofile_gradient {
    background-image: linear-gradient(
120deg
, #a43b40, #a43b40);
}





.o_cc4 a:not(.btn), .navbar-light a:not(.btn), .o_cc4 .btn-link, .navbar-light .btn-link, .o_colored_level .o_cc4 a:not(.btn), .o_colored_level .navbar-light a:not(.btn), .o_colored_level .o_cc4 .btn-link, .o_colored_level .navbar-light .btn-link {
    color: #FFFFFF;
    a:focus{
        color: #ddd !important;
    }
}



// Шапка новостей
.o_half_screen_height {
    min-height: 35vh !important;
}

.o_wblog_post_page_cover {
    min-height: 35vh !important;
}


// Шапка форума
.s_cover  {

    min-height: 35vh !important;
    
    

}
.parallax.s_parallax_is_fixed > .s_parallax_bg {
    background-attachment: local !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

//  Ширина контента создания поста
.website_forum .o_wforum_readable {
    max-width: 100% !important;
}

// .navbar {
//     .input-group {
//         color: #a43b40 !important;
//         border: 0px solid #a43b40 !important;
//     }

//     .input-group-append {
//         border: 0px solid #a43b40 !important;
//     }

//     .oe_search_button {
//         color: #a43b40 !important;
//         border: 0px solid #a43b40 !important;
//         // border-left: 1px solid #a43b40;
        

//     }
// }
